/data/raw/eco2mix-regional-cons-def.csv

/.venv/
/.idea/

/.pytest_cache/
/tests/.pytest_cache/

__pycache__/
*.pyc
.env
/airflow/.env
/airflow/logs/
/logs/
/airflow/config/airflow.cfg
/airflow/config/
